<div class="div-componente-principal">
  <div class="div-corpo-texto" #scroll>
    <h2>inicio do texto!!</h2>
    <h3>DESENVOLVA EM TODAS AS PLATAFORMAS</h3>
    Aprenda uma maneira de criar aplicativos com Angular e reutilize seu código e habilidades para criar aplicativos
    para qualquer destino de implantação. Para web, web móvel, mobile nativo e desktop nativo.

    <h3>VELOCIDADE E DESEMPENHO</h3>
    Atinja a velocidade máxima possível na Plataforma Web hoje e vá além, via Web Workers e renderização do lado do
    servidor.
    Angular coloca você no controle sobre a escalabilidade. Atenda a grandes requisitos de dados criando modelos de
    dados em RxJS, Immutable.js ou outro modelo push.

    <h3>AMADO POR MILHÕES</h3>
    Do protótipo à implantação global, o Angular oferece a produtividade e a infraestrutura escalável que suporta os
    maiores aplicativos do Google.

    <h3>Angular na E/S 2022</h3>
    No I/O 2021, nos divertimos muito anunciando o Angular DevTools e permitindo que você o use no mundo Adventure !
    Conversamos com centenas de desenvolvedores e compartilhamos ideias sobre nossa parceria com o TensorFlow.js .

    Difícil de acreditar que já é hora do I/O 2022. Este ano você encontrará ainda mais conteúdo Angular e terá a
    oportunidade de aprender sobre os últimos avanços do framework!
    <br>
    Continue lendo para saber mais sobre o que esperar do I/O este ano.

    <h3>estado de angular</h3>
    Emma e Mark compartilharão mais sobre o estado de Angular. Nesta palestra, você aprenderá sobre o impacto que Ivy
    tem sobre o ecossistema e os recursos que ele permite. Você também aprenderá mais sobre os recursos mais recentes da
    v14.

    Também compartilharemos alguns dos projetos de longo prazo pelos quais você deve estar ansioso. A equipe Angular do
    Google está entusiasmada em compartilhar nossa visão de produto e nosso foco expandido na experiência e
    produtividade do desenvolvedor (mais rápido para aprender e mais fácil de usar) e parceria com as equipes Chrome
    Aurora, Google Cloud e Firebase para facilitar a criação de sites de alto desempenho formulários. Recomendamos
    fortemente que você assista a esta palestra, vai ser ótimo.

    <h3>Apresentação do desenvolvedor</h3>
    Certifique-se de sintonizar para a palestra do desenvolvedor. Ele fornecerá uma visão geral ampla de toda a pilha de
    produtos do Google para desenvolvedores. Você aprenderá sobre novas integrações de produtos e melhorias na Web,
    nuvem, Android, Chrome OS, Assistente e muito mais!

    <h3>Aumente seu conhecimento</h3>
    Este ano, no I/O, estaremos fortemente focados em ajudar as pessoas a se tornarem melhores desenvolvedores Angular.
    Espere conteúdo introdutório, saiba mais sobre implantação moderna para GCP, acessibilidade e criação de aplicativos
    de pilha completa com o Firebase!

    <p>Para saber tudo sobre as últimas atualizações da Web, certifique-se de verificar o “O que há de novo para a
    plataforma web” . Você aprenderá sobre as iniciativas padrão mais recentes, APIs, ferramentas para desenvolvedores
    independentes de estrutura e muito mais.</p>

    <p>Na palestra “ Modern Angular Deployment with Google Cloud ” , compartilharei como implantar seus aplicativos Angular
    que usam diferentes estratégias de renderização para o Google Cloud Platform. Veremos algumas das práticas
    recomendadas para hospedar seus aplicativos Angular Universal com o Cloud Functions de 2ª geração por meio do
    Firebase SDK .</p>

    <h2>fim de texto!!!</h2>
  </div>
  <div class="buttons">
    <button class="up button" (click)="onPreviousSearchPosition()" [disabled]="!scrollUp">SOBE</button>
    <button class="down button" (click)="onNextSearchPosition()" [disabled]="!scrollDown">DESCE</button>
  </div>
</div>
